.img-logo{
    width: 100px;
    }
#carouselExampleFade,
.carousel-inner,
.carousel-item{
height: 450px;
}

.carousel-inner{
position: relative;
}


.carousel-item img{
height: 100%;
object-fit: cover;
object-position: center;
filter:grayscale(2); 
/* oscurece el filter */
}

.overLay{
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.336);
    z-index: 1;
}